<div class="header_board">
  <!-- id = 1 11시 예배-->
  <% if(id == 1){ %>
    <h2> 11시 예배</h2>
  <!-- id = 2 오후 예배-->
  <% } else if (id == 2){%>
    <h2> 오후 예배</h2>
  <!-- id = 3 수요 예배-->
  <%} else {%>
    <h2> 수요 예배</h2>
  <% } %>
</div>
