<div class="container boardImage">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/yechan_1.jpg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <a href="#"><p>지난 21일 예찬, 예닮이의 세례식이 있었습니다..</p></a>
          <P>일 시 : 2017년 2월 12일</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/yechan_2.jpg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <a href="#"><p>김장을 하고 있습니다.</p></a>
          <P>일 시 : 2017년 1월 12일</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/yedarm_1.jpg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <a href="#"><p>어린이 친구들이 어린이 성경학교에서 열심히 공부를 하고 있네요~</p></a>
          <P>일 시 : 2016년 12월 12일</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/yedarm_2.jpg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <a href="#"><p>여전도회 모임이 있었습니다. 다과를 먹으면서 전도 방법에 대해서 토론을 하였습니다.</p></a>
          <P>일 시 : 2016년 10월 12일</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/iis.png" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <a href="#"><p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></a>
          <P>일 시 : 2016년 8월 12일</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/images/iis.png" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <a href="#"><p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></a>
          <P>일 시 : 2016년 5월 12일</p>
        </div>
      </div>
    </div>
  </div>
</div>
