<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>

  </head>
  <body>
    <% include ../partials/nav %>
    <div class="wrap">
      <div class="container home home-welcome">
        <div class="jumbotron">
          <h1>소개글</h1>

          <P>이 사이트는 대전은혜교회 말씀 듣기 페이지 입니다.<br/>
          이곳에는 목사님 사진과 간단한 소개글이 올라가게 됩니다.</p>
        </div>
      </div>
      <footer>
        <% include ../partials/footer %>
      </footer>
    </div>
  </body>
</html>
