<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>

  </head>
  <body>
    <% include ../partials/nav %>
    <% include ../partials/Carousel %>
    <% include ../partials/boardImage %>
    <footer>
      <% include ../partials/footer %>
    </footer>
    </div>
  </body>
</html>
